{% extends "restaurant/base.html" %}
{% block content %}
    <h1>Total -- Inventory</h1>
    {% if request.user.is_staff %}
        <a class="nav-bar nav" href="{% url 'restaurant-inventory-create' %}">Add Inventory Item</a>
    {% endif %}
        <a class="nav-bar nav" href="{% url 'restaurant-inventories' %}">All Inventories</a>

    {% for inventory in object_list %}
        <h3><a  href="{% url 'restaurant-inventory-detail' inventory.id %}">
            {% if inventory.is_low_level %}{{ inventory.total }} -- {{ inventory.name }}
            <text class="text-danger">[LOW]</text>{% endif %}
        </a></h3>
    {% endfor %}
{% endblock content %}
